/* Tive que trocar para CSS ao invés de de SCSS porque meu navegador não estava reconhecendo o estilo no formato SCSS. */

section#seletores {
    background-color: white;
    height: 300px;
    width: auto;
    text-align: center;
}

section#seletores > div {
    position: relative;
    display: inline-block;
    padding: 55px 95px 10px 95px;
}

.emojis {
    position: relative;
    width: 80px;
    right: 70px;
    padding-bottom: 10px;
}

#regador {
    transform: scaleX(-1);
    width: 95px;
}

#cachorro {
    right: 75px;
}

span {
    color: #494949;
    font-weight: bold;
}

p {
    margin-top: 0px;
    text-align: left;
}

div > select {
    position: relative;
    right: 15px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url(../images/icons/arrow-down2.svg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-position: 180px;
    background-size: 20px;

    width: 220px;
    height: 45px;

    color: #606060;
    border: 1px solid #606060;
    border-radius: 50px;

    font-size: 14px;
    padding-left: 15px;
}

/* responsividade */

@media (max-width: 1275px) {
    section#seletores {
        height: auto;
        width: auto;
        min-width: 660px;
    }

    section#seletores > div {
        padding: 55px 30px 55px 30px;
    }
}

@media (max-width: 885px) {
    section#seletores > div#div_agua {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media (max-width: 700px) {
    section#seletores > div#div_agua {
        padding-left: 95px;
        padding-right: 95px;
    }
}


@media (max-width: 580px) {
    section#seletores > div#div_sol, div#div_agua, div#div_dog {
        right: 30px;

        padding-left: 80px;
        padding-right: 80px;
    }
}